<label for="recipe_title">Title</label>
  <input id="recipe_title" name="title" type = "text" value="<%= @recipe.title %>">
  <label for="recipe_description">Description</label>
  <input id="recipe_description" name="description" type = "text" value="<%= @recipe.description %>">
  <label for="tag_name">Tag</label>
  <input id="tag_name" name="tag_1[name]" type = "text" placeholder=" Tag">
  <label for="tag_name">Tag</label>
  <input id="tag_name" name="tag_2[name]" type = "text" placeholder=" Tag">
