<h1>Welcome to Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="recipes/<%= recipe.id %>"><%= recipe.title %></a></li>
    <a href="/recipes/<%= recipe.id %>/edit">edit</a>
    <a href="/recipes/<%= recipe.id %>"
        data-confirm="Really?"
        data-method="delete"
        rel="nofollow">Delete</a>
  <% end %>
</ul>

<a href="/recipes/new">Click here to add a new recipe!</a>
<a href="/tags/new">Click here to add a new tag!</a>
