<h1>Available Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li><a href="tags/<%= tag.id %>"><%= tag.name %></a></li>
    <a href="/tags/<%= tag.id %>/edit">edit</a>
    <a href="/tags/<%= tag.id %>"
        data-confirm="Really?"
        data-method="delete"
        rel="nofollow">Delete</a>
  <% end %>
</ul>

<a href="/tags/new">Click here to add a new tag!</a>
<a href="/">Click here to return to your recipe listing!</a>
